/******************************************************
                   GENERAL STYLES
******************************************************/

body{
	 margin: 0;
	 padding: 0;
	 background: #fff;
	 color: #333;
	 font-weight: 100;
}

a {
	color: #333;
}

a:hover {
	text-decoration: none;
}

body, select, input, p, span, a {
	margin: 0;
}

[class^="ti-"], [class*=" ti-"]{
	line-height: inherit !important;
}


.wrapper{
	min-height: 100vh;  //This should be deleted once we start generating data from database
	flex: 1 0 auto;
	.main{
		flex-grow: 1;
	}
}

.wrapper:last-child{
	margin-top:auto;
}

.form_container{
	width: 100%;
	display: flex;
	padding: 10px;
	min-height: 80vh;
	align-items: center;
	justify-content: center;
	&.form-upload, &.form-auth, &.form-contact{
		
	}
	&.form-upload{
		background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    	),
		url('/img/bg/form-bg3.jpeg');
		//background-position: center;
		//background-repeat: no-repeat;
		//background-size: cover;
	}
	&.form-auth{
		background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    	),
		url('/img/bg/form-bg2.jpeg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&.form-contact{
		background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    	),
		url('/img/bg/form-bg1.jpeg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.form{
	border-radius: 8px;
	background:  linear-gradient(
		rgba(255, 255, 255, 0.8));
	box-shadow: 0 15px 20px #212529;
}

.price {
	color: #156711;
}

.primary-color {
	color: $brand-primary;
}
