/******************************************************
                Main Items Container
******************************************************/

.home1-item{
	width: 220px;
	.item-info {
		list-style: none;
		margin: auto;
		padding: 10px;
		.item-name {
			color: #333;
			white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}
		
		.item-year {
		
		}
		
		.item-trans {
		
		}
		
		.item-price {
		
		}
	}
	@include breakpoint(max, $screen-sm){
		width: 200px;
	}
	@include breakpoint(max, $screen-xs){
		width: 220px;
	}
}



.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus, .pagination>.active>span:hover {
	/* Color ajustment */
}



/**************************Home1 items layout*******************/
#products {

		.home1-thumbnail {
		    padding: 0px;
		    -webkit-border-radius: 4px;
		    -moz-border-radius: 4px;
		    border-radius: 4px;
			border: thin solid #ccc;
			background-color: #fff;

				&:hover {
					z-index: 2;
					-webkit-box-shadow: 4px 4px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
					-moz-box-shadow:    4px 4px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
					box-shadow:         4px 4px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
				}

				.img-container{
					width: 100%;
					height: 100px;
					background-position: 50% 50%;
				  background-repeat:   no-repeat;
				  background-size:     cover;
					-webkit-border-radius: 4px 4px 0 0;
					-moz-border-radius: 4px 4px 0 0;
					border-radius: 4px 4px 0 0;

					@include breakpoint(min, $screen-xs) {
						height:110px;
					}
					@include breakpoint(min, $screen-sm) {
				    height: 130px;
				  }
				}

				img {
					width: 100%;
					margin: auto 0;
				}

		}
	
}







/***************************************************************/
