/******************************************************
                HEADER & TOP-NAVIGATION
******************************************************/
.heading {
	font-weight: bold;
	text-align: center;
	width: 100%;
	color: #777;
}
.navbar {
	padding: 15px 0;
	border: none;
	background: $brand-primary;
	.navbar-nav, .navbar-nav .open .dropdown-menu {
		>li {
			>a, >a.nav-link, >a.dropdown-toggle {
				color: $light;
				&:hover {
					color: darken($light, 25%);
				}
			}
		}
	}
	&.affix {
		position: fixed;
		padding: 10px 0;
		opacity: 0.9;
		z-index: 1;
	  background-color: #333;
	  box-shadow: 0 0 5px rgba(0,0,0,.8);
		.navbar-brand {
			font-size: 18px;
		}
		.navbar-toggle {
			border:0.2px solid #fff;
			.icon-bar {
				border:0.2px solid #fff;
			}
		}
	}
}

.navbar-default .navbar-toggle:focus {
}

.navbar-default{
	.navbar-brand {
		color:#777;
		font-size: 32px;
	}
}

.navbar-toggle {
	border: 0.2px solid #aaa;
	.icon-bar {
		border: 0.2px solid #aaa;
	}
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-default.fixed-theme,
.navbar-toggle.fixed-theme,
.navbar-toggle.fixed-theme,
.icon-bar
.navbar-toggle,
.navbar-toggle .icon-bar,
.navbar-brand,
.navbar-container,
.navbar.navbar-default{
    transition: 1s;
    -webkit-transition:  1s;
}

.dropdown-menu {
	color: #fff;
}

.dropdown-menu li a {
	color: #fff;
}

.dropdown-menu li a:hover {
	color: #fff;
}
